*~
*.o
*.hi
/Test/Dynamic.hs
/Test/Main
/process
/Test.awk/Dynamic.hs
/Test.awk/Main
/library/Main
/library/Simple.hs
/library/DynamicGen.hs
/diplom/text.aux
/diplom/text.dvi
/diplom/text.log
/diplom/text.pdf
/diplom/first.aux
/diplom/refs.log
/diplom/second.aux
/diplom/texput.log
/diplom/thesis.aux
/diplom/thesis.bbl
/diplom/thesis.blg
/diplom/thesis.dvi
/diplom/thesis.log
/diplom/thesis.nlo
/diplom/thesis.toc
/diplom/third.aux
/diplom/title.aux
/diplom/thesis.pdf
/example/Main
/example/Main.hs
/example/Math.hs
/diplom/presentation.dvi
/diplom/presentation.pdf
/diplom/presentation.vrb
