/Test/Complex.hi
/Test/Complex.o
/Test/Dynamic.hi
/Test/Dynamic.hs
/Test/Dynamic.o
/Test/Integer.hi
/Test/Integer.o
/Test/Main
/Test/Main.hi
/Test/Main.o
/process
/process.hi
/process.o
/Test.awk/Complex.hi
/Test.awk/Complex.o
/Test.awk/Dynamic.hi
/Test.awk/Dynamic.hs
/Test.awk/Dynamic.o
/Test.awk/Integer.hi
/Test.awk/Integer.o
/Test.awk/Main
/Test.awk/Main.hi
/Test.awk/Main.o
/library/library.hs~
/.gitignore~
/RealDynamic/fourth.hs~
/RealDynamic/third.hs~
/Test/Dynamic.hs~
/library/Main
/library/Main.hi
/library/Main.hs~
/library/Main.o
/library/Makefile~
/library/Simple.hi
/library/Simple.o
/library/dynamic.gen~
/library/library.hi
/library/library.o
/library/Simple.hs
