/Test/Complex.hi
/Test/Complex.o
/Test/Dynamic.hi
/Test/Dynamic.hs
/Test/Dynamic.o
/Test/Integer.hi
/Test/Integer.o
/Test/Main
/Test/Main.hi
/Test/Main.o
/process
/process.hi
/process.o
/Test.awk/Complex.hi
/Test.awk/Complex.o
/Test.awk/Dynamic.hi
/Test.awk/Dynamic.hs
/Test.awk/Dynamic.o
/Test.awk/Integer.hi
/Test.awk/Integer.o
/Test.awk/Main
/Test.awk/Main.hi
/Test.awk/Main.o
/library/library.hs~
/.gitignore~
